repos:
  - repo: "https://github.com/psf/black"
    rev: "22.3.0"
    hooks:
      - id: black

  - repo: "https://github.com/kynan/nbstripout"
    rev: "0.5.0"
    hooks:
      - id: nbstripout

  - repo: "https://github.com/pre-commit/mirrors-prettier"
    rev: "v2.7.1"
    hooks:
      - id: prettier
        exclude: tests\/test_execute\/

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.215"
    hooks:
      - id: ruff

  - repo: https://github.com/PyCQA/doc8
    rev: "v1.1.1"
    hooks:
      - id: doc8

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
      - id: codespell
        stages: [commit]
        additional_dependencies:
          - tomli

  # Prevent committing inline conflict markers
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-merge-conflict
        args: [--assume-in-merge]
